html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.title{
    font-size: 40px;
    margin: 10px;
    border-bottom: 1px solid black;
}

.owner {
    font-size: 20px;
    margin: 20px;
}



ul {
    list-style-type: none;
}

