@using Microsoft.AspNetCore.Identity
@model IEnumerable<Alcohol>

<ul>
    @foreach (var alcohol in Model.GroupBy(n => n.Name))
    {
        <li class="title">
            @alcohol.Key
            <ul>
                @foreach (var item in alcohol)
                {
                    <li class="owner">
                        @item.Owner.FirstName @item.Owner.LastName                       
                         <a href="AdminDelete?uid=@item.Uid">Törlés</a>                       
                    </li>
                }
            </ul>
        </li>
    }
</ul>