<h1 >Különös szileszter!</h1>

<div class="container-fluid px-0">
    <img class="img-fluid" src="~/images/banner.jpg" alt="Swiper Image">
</div>
<div class="container mt-3">
    <h2>Köszöntő</h2>
    <p>
        Kedves Barátaim! 
        <br />
        <br />
        Szívünk mélyéről köszöntünk benneteket az év utolsó ünnepén! 2023 gyönyörű emlékekkel gazdagított bennünket, és most együtt készülünk az új év izgalmas kalandjaira. Hagyjuk magunk mögött mindazt, ami már a múlté, és nyitott szívvel és mosollyal várjuk a 2024-es év születését. Legyen tele szeretettel, boldogsággal és felejthetetlen pillanatokkal!
        <br />
        <br />
        Boldog Új Évet Mindannyiótoknak!
    </p>
</div>