@using Microsoft.AspNetCore.Identity
@model IEnumerable<Alcohol>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul>
@foreach(var alcohol in Model.GroupBy(n =>n.Name)){
    <li>@alcohol.Key
        <ul>
                @foreach(var item in alcohol)
                {
                     <li>
                        @item.OwnerId
                        @if (item.OwnerId == UserManager.GetUserId(User))
                          {
                            <a href="Home/Delete?uid=@item.Uid">Törlés</a>
                          }
                     </li>
                }
        </ul>
    </li>
}
</ul>