@using Microsoft.AspNetCore.Identity
@model IEnumerable<Alcohol>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<ul>
@foreach(var alcohol in Model.GroupBy(n =>n.Name)){
    <li class="title">@alcohol.Key
        <ul>
                @foreach(var item in alcohol)
                {
                     <li class="owner">
                        @item.Owner.FirstName @item.Owner.LastName
                        @if (item.OwnerId == UserManager.GetUserId(User))
                          {
                            <a href="Delete?uid=@item.Uid">Törlés</a>
                          }
                     </li>
                }
        </ul>
    </li>
}
</ul>